<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        function getAllStudent() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/students/list",
                success: function (a) {
                    displayStudent(a)
                }
            })
        }

        function displayStudent(array) {
            let list = ""
            for (let i = 0; i < array.length; i++) {
                list += array[i].name + " " +
                array[i].age + " "+
                array[i].score + " " + array[i].classz.name +
                    "<button onclick='showFormEdit(" + array[i].id + ")'>edit</button>" +
                    "<button onclick='remote (" + array[i].id + ")'>delete</button>"
                    + "<br>"
            }
            document.getElementById("liststudent").innerHTML = list
        }

        function remote(id) {
            $.ajax({
                type: "DELETE",
                url: "http://localhost:8080/api/students/delete/"+id,
                success: function (a) {
                    displayStudent(a)
                }
            })
        }

        function showFormAdd() {
            let form = '<input type="text" id="name">\n' +
                '<input type="number" id="age">\n' +
                '<input type="number" id="score">\n' +
                '<select id="classz" >';
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/students/listClass",
                success: function (a) {
                    for (let i = 0; i < a.length; i++) {
                        form += `<option value="${a[i].id}">${a[i].name}</option>`
                    }
                    form += `</select>\n` +
                        '<button onclick="save()">save</button>';
                    document.getElementById("liststudent").innerHTML = form;
                }
            })
            console.log(form)
        }
        function showOrder() {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/students/OrderAge",
                success: function (a) {
                    displayStudent(a)
                }
            })
        }
        function save() {
            let name = document.getElementById("name").value
            let score = document.getElementById("score").value
            let age = document.getElementById("age").value
            let classz = document.getElementById("classz").value
            let a = {
                name: name,
                score: score,
                age: age,
                classz: {
                    id: classz
                }
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                url: "http://localhost:8080/api/students/cre",
                data: JSON.stringify(a),
                success: function (a) {
                    displayStudent(a)
                }
            });
        }

        function showFormEdit(id) {
            let edit = ""
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/students/findById/" + id,
                success: function (data) {
                    // console.log(data)
                    edit = '<input type="text"  id="name" value="' + data.name + '">\n' +
                        '    <input type="number"  id="age" value="' + data.age + '">\n' +
                        '    <input type="number"  id="score" value="' + data.score + '">\n' +
                        '<select id="classz">\n';
                    $.ajax({
                        type: "GET",
                        url: "http://localhost:8080/api/students/listClass",
                        success: function (a) {
                            console.log(a)
                            for (let i = 0; i < a.length; i++) {
                                edit += `<option value="${a[i].id}">${a[i].name}</option>`
                            }
                            edit += `</select>` +
                                '<button onclick="saveEdit(' + data.id + ')">save</button>';
                            document.getElementById("liststudent").innerHTML = edit;
                        }
                    })
                }
            })
        }

        function saveEdit(id) {
            let name = document.getElementById("name").value
            let score = document.getElementById("score").value
            let age = document.getElementById("age").value
            let classz = document.getElementById("classz").value
            let a = {
                name: name,
                score: score,
                age: age,
                classz: {
                    id: classz
                }
            }
            console.log(a)
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                url: "http://localhost:8080/api/students/edit/" + id,
                data: JSON.stringify(a),
                success: function (a) {
                    displayStudent(a)
                }
            });
        }

        function search() {
            let key = document.getElementById("key").value;
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/students/findByName/" + key,
                success: function (a) {
                    displayStudent(a)
                }
            })
        }
    </script>
</head>
<body>
<button onclick="getAllStudent()">show list</button>
<button onclick="showFormAdd()">add</button>
<button onclick="showOrder()">Order age</button>

<input id="key" type="text">
<button onclick="search()">find</button>


<div id="liststudent"></div>

</body>
</html>